RATE_LIMITING_ENABLE=false
RATE_LIMITING_FREQUENCY=2/3seconds
TFMKT_BASE_URL=https://tmapi.transfermarkt.technology
TFMKT_TIMEOUT_SECONDS=15
TFMKT_MAX_CONCURRENCY=10
CACHE_TTL_SECONDS=600
CACHE_REFERENCE_TTL_SECONDS=86400
CACHE_MAX_ENTRIES=2000
